<div class="subscription-header">
  <h3>{{i18n "admin.topic_previews.subscription_container.title"}}</h3>

  <a href="/admin/topic-previews/subscription" title={{i18n subscribedTitle}}>
    {{d-icon subscribedIcon}}
    {{i18n subscribedLabel}}
  </a>
</div>

<div class="subscription-settings">
  {{yield}}
</div>
