<div class="message-block primary">
  {{#if showIcon}}
    {{d-icon icon}}
  {{/if}}
  <span class="message-content">{{html-safe message}}</span>
  {{#if hasItems}}
    <ul>
      {{#each items as |item|}}
        <li>
          <span>{{d-icon item.icon}}</span>
          <span>{{html-safe item.html}}</span>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>

{{#if showDocumentation}}
  <div class="message-block">
    {{d-icon "question-circle"}}

    <a href={{url}} target="_blank" rel="noopener noreferrer">
      {{documentation}}
    </a>
  </div>
{{/if}}
