{{#if siteSettings.topic_list_previews_enabled}}
<h3>{{i18n 'category.topic_list_previews_settings_heading'}}</h3>
  <section class='field'>
    <label>{{i18n 'category.topic_list_tiles'}}</label>
    {{list-setting
      value=tiles
      choices=filteredChoices
      settingName='category.custom_fields.topic_list_tiles'
      onChange=(action "onChangeCategoryListSetting" "tiles")
    }}
  </section>

  <section class='field'>
    <label>{{i18n 'category.topic_list_thumbnail'}}</label>
    {{list-setting
      value=thumbnail
      choices=choices
      settingName='category.topic_list_thumbnail'
      onChange=(action "onChangeCategoryListSetting" "thumbnail")
    }}
  </section>

  <section class='field'>
    <label>{{i18n 'category.topic_list_excerpt'}}</label>
    {{list-setting
      value=excerpt
      choices=choices
      settingName='category.topic_list_excerpt'
      onChange=(action "onChangeCategoryListSetting" "excerpt")
    }}
  </section>

  <section class='field'>
    <label>{{i18n 'category.topic_list_action'}}</label>
    {{list-setting
      value=action
      choices=choices
      settingName='category.topic_list_action'
      onChange=(action "onChangeCategoryListSetting" "action")
    }}
  </section>

  <section class='field'>
    <label>{{i18n 'category.topic_list_default_thumbnail'}}</label>
    {{text-field value=category.custom_fields.topic_list_default_thumbnail placeholderKey="category.topic_list_default_thumbnail_placeholder"}}
  </section>

  <section class='field'>
    <label>{{i18n 'category.topic_list_thumbnail_width'}}</label>
    {{input type='integer' class='input-small' value=category.custom_fields.topic_list_thumbnail_width placeholderKey="category.topic_list_thumbnail_width_placeholder"}}
  </section>

  <section class='field'>
    <label>{{i18n 'category.topic_list_thumbnail_height'}}</label>
    {{input type='integer' class='input-small' value=category.custom_fields.topic_list_thumbnail_height placeholderKey="category.topic_list_thumbnail_height_placeholder"}}
  </section>

  <section class='field'>
    {{input type='checkbox' checked=category.custom_fields.topic_list_featured_images}}
    <span>{{i18n 'category.topic_list_featured_images'}}</span>
  </section>
{{/if}}
