<div class="topic-meta">
  <div class='topic-category inline sub'>
    {{category-link topic.category}}
  </div>
  {{#if topic.tags}}
    <span class="middot inline sub"></span>
    <div class='discourse-tags inline sub'>
      {{discourse-tags topic mode="list"}}
    </div>
  {{/if}}
  <span class="middot inline sub"></span>
  <div class="topic-views {{topic.viewsHeat}} inline sub">
    {{number topic.views numberKey="views_long"}}
    {{i18n 'views_lowercase' count=topic.views}}
  </div>
  <span class="middot inline sub"></span>
  <div class='topic-replies posts-map {{likesHeat}} inline sub' title='{{title}}'>
    <a href class='posts-map badge-posts {{likesHeat}}'>{{number topic.replyCount}}</a>
    {{i18n 'replies_lowercase' count=topic.replyCount}}
  </div>
  <span class="middot inline sub"></span>
  <div class="{{class}} {{cold-age-class topic.createdAt startDate=topic.bumpedAt class=""}} activity inline sub" title="{{{topic.bumpedAtTitle}}}">
    <a href="{{topic.lastPostUrl}}">{{format-date topic.bumpedAt format="medium-with-ago" noTitle="true"}}</a>
  </div>
</div>
