{{#unless tilesStyle}}
<div class="topic-meta">
  <div class='topic-category inline sub'>
    {{raw-plugin-outlet name="topic-list-social-meta-category"}}
    {{category-link topic.category}}
    <span class="middot crazy inline sub"></span>
  </div>
{{/unless}}
  {{#if topic.tags}}
    {{#if tilesStyle}}
    <div class="topic-tags">
    {{else}}
    <div class='inline sub'>
    {{/if}}
      {{discourse-tags topic mode="list"}}
    {{#if tilesStyle}}
    </div>
    {{else}}
    <span class="middot inline sub"></span>
    {{/if}}
  {{/if}}
  {{#if tilesStyle}}
  <div class="topic-meta">
  {{/if}}
  {{raw-plugin-outlet name="topic-list-social-meta"}}
  <div class="topic-views {{topic.viewsHeat}} inline sub">
    {{number topic.views numberKey="views_long"}}
    <span>{{i18n 'views_lowercase' count=topic.views}}</span>
  </div>
  <span class="middot inline sub"></span>
  <div class='topic-replies posts-map {{likesHeat}} inline sub' title='{{title}}'>
    <a href class='posts-map badge-posts {{likesHeat}}'>{{number topic.replyCount}}</a>
    <span>{{i18n 'replies_lowercase' count=topic.replyCount}}</span>
  </div>
  <span class="middot inline sub"></span>
  <div class="{{class}} {{cold-age-class topic.createdAt startDate=topic.bumpedAt class=""}} activity inline sub" title="{{{topic.bumpedAtTitle}}}">
    <a href="{{topic.lastPostUrl}}">{{format-date topic.bumpedAt format="medium-with-ago" noTitle="true"}}</a>
  </div>
</div>
