<div class="topic-title">
  <span class='link-top-line'>
    {{raw-plugin-outlet name="topic-list-before-status"}}
    {{raw "topic-status" topic=topic}}
    {{topic-link topic}}
    {{#if tilesStyle}}
      {{#if mobileView}}
        {{#if topic.unseen}}
          <span class="badge-notification new-topic"></span>
        {{/if}}
      {{else}}
        {{#if showTopicPostBadges}}
          {{raw "topic-post-badges" unread=topic.unread newPosts=topic.displayNewPosts unseen=topic.unseen url=topic.lastUnreadUrl}}
        {{/if}}
      {{/if}}
      {{#if topic.featured_link}}
        {{topic-featured-link topic}}
      {{/if}}
    {{else}}
      {{#if topic.featured_link}}
        {{topic-featured-link topic}}
      {{/if}}
      {{#if mobileView}}
        {{#if topic.unseen}}
          <span class="badge-notification new-topic"></span>
        {{/if}}
      {{else}}
        {{#if showTopicPostBadges}}
          {{raw "topic-post-badges" unread=topic.unread newPosts=topic.displayNewPosts unseen=topic.unseen url=topic.lastUnreadUrl}}
        {{/if}}
      {{/if}}
    {{/if}}

    {{raw-plugin-outlet name="topic-list-after-title"}}
  </span>
</div>
{{#if tilesStyle}}
  {{raw "list/topic-users" tilesStyle=tilesStyle topic=topic posterNames=posterNames}}
{{/if}}
