<div class="topic-title">
  <span class='link-top-line'>
    {{raw-plugin-outlet name="topic-list-before-status"}}
    {{raw "topic-status" topic=topic}}
    {{topic-link topic}}
    {{#if topic.featured_link}}
      {{topic-featured-link topic}}
    {{/if}}
    {{#if mobileView}}
      {{#if topic.unseen}}
        <span class="badge-notification new-topic"></span>
      {{/if}}
    {{else}}
      {{#if showTopicPostBadges}}
        {{raw "topic-post-badges" unread=topic.unread newPosts=topic.displayNewPosts unseen=topic.unseen url=topic.lastUnreadUrl}}
      {{/if}}
    {{/if}}
    {{#unless socialStyle}}
      {{raw-plugin-outlet name="topic-list-after-title"}}
    {{/unless}}
  </span>
  {{#if socialStyle}}
    {{raw "list/topic-users" topic=topic posterNames=posterNames}}
  {{/if}}
</div>
