{{#if bulkSelectEnabled}}
  <td class='star'>
    <input type="checkbox" class="bulk-select">
  </td>
{{/if}}

<td class='main-link clearfix' colspan="{{titleColSpan}}">
  {{#if tilesStyle}}
    <div class="topic-header-grid">
      {{raw "list/topic-list-title" topic=topic tilesStyle=tilesStyle showTopicPostBadges=showTopicPostBadges}}
      <div class="topic-category">
        {{#if showCategoryBadge}}
          {{category-link topic.category}}
        {{/if}}
      </div>
    </div>
  {{/if}}

  {{#if showThumbnail}}
    {{raw "list/topic-thumbnail" topic=topic thumbnails=thumbnails category=category opts=thumbnailOpts}}
  {{/if}}

  <div class="topic-details">
    {{#if notTilesStyle}}
      {{raw "list/topic-list-title"
        topic=topic
        tilesStyle=tilesStyle
        showTopicPostBadges=showTopicPostBadges
        homepage=parentView.homepage
        suggested=parentView.suggestedList}}
      {{#if showCategoryBadge}}
        <div class='topic-category'>
          {{category-link topic.category}}
        </div>
      {{/if}}
      {{discourse-tags topic mode="list" tagsForUser=tagsForUser}}
    {{/if}}

    {{#if expandPinned}}
      {{raw "list/topic-excerpt" topic=topic}}
    {{/if}}

    {{#if notTilesStyle}}
      <div class="actions-and-meta-data">
        {{#if showActions}}
          {{raw "list/topic-actions" likeCount=likeCount topicActions=topicActions}}
        {{/if}}
        {{raw "list/action-list" topic=topic postNumbers=topic.liked_post_numbers className="likes" icon="heart"}}
      </div>
    {{/if}}

    {{#if tilesStyle}}
      </div>
      {{raw 'list/topic-meta' likesHeat=likesHeat title=view.title topic=topic}}
      {{#if showActions}}
        {{raw "list/topic-actions" likeCount=likeCount topicActions=topicActions}}
      {{/if}}
    {{/if}}
</td>

{{#if notTilesStyle}}

  {{#if showPosters}}
    {{raw "list/posters-column" posters=topic.posters}}
  {{/if}}

  {{raw "list/posts-count-column" topic=topic}}

  {{#if showParticipants}}
    {{raw "list/posters-column" posters=topic.participants}}
  {{/if}}

  {{#if showLikes}}
    <td class="num likes">
      {{#if hasLikes}}
        <a href='{{topic.summaryUrl}}'>
          {{number topic.like_count}} {{d-icon 'heart'}}
        </a>
      {{/if}}
    </td>
  {{/if}}

  {{#if showOpLikes}}
    <td class="num likes">
      {{#if hasOpLikes}}
        <a href='{{topic.summaryUrl}}'>
          {{number topic.op_like_count}} {{d-icon 'heart'}}
        </a>
      {{/if}}
    </td>
  {{/if}}

  <td class="num views {{topic.viewsHeat}}">{{number topic.views numberKey="views_long"}}</td>
  {{raw "list/activity-column" topic=topic class="num" tagName="td"}}
{{/if}}
