<td>
  {{#if context.socialMediaStyle}}
    {{topic-link topic}}
    {{raw "list/topic-intro" topic=topic
                             posterNames=context.posterNames
                             likesHeat=context.view.likesHeat
                             title=context.view.title}}
    {{raw "list/topic-thumbnail" topic=topic thumbnails=thumbnails}}
  {{else}}
    {{#if context.mobilePreviews}}
      {{#if showThumbnail}}
        {{raw "list/topic-thumbnail" topic=topic thumbnails=thumbnails}}
      {{/if}}
    {{else}}
      <div class='pull-left'>
        <a href="{{topic.lastPostUrl}}">{{avatar topic.lastPoster imageSize="large"}}</a>
      </div>
    {{/if}}
  {{/if}}
  <div class='topic-details'>
    {{#if context.socialMediaStyle}}
      {{raw "topic-status" topic=topic}}
      {{#if topic.unseen}}
        <span class="badge-notification new-topic"></span>
      {{/if}}
    {{else}}
      <div class='main-link'>
        {{raw "topic-status" topic=topic}}
        {{topic-link topic}}
        {{#if topic.unseen}}
          <span class="badge-notification new-topic"></span>
        {{/if}}
      </div>
    {{/if}}

    {{#unless context.socialMediaStyle}}
      <div class='pull-right'>
        {{raw "list/post-count-or-badges" topic=topic postBadgesEnabled=showTopicPostBadges}}
      </div>
    {{/unless}}

    {{#if context.expandPinned}}
      {{raw "list/topic-excerpt" topic=topic}}
    {{/if}}

    {{#unless context.socialMediaStyle}}
      {{#if showCategoryBadge}}
        {{raw "list/topic-category" category=context.topic.category}}
      {{/if}}
      {{#if context.topic.tags}}
        <div class='discourse-tags'>
        {{#each context.topic.visibleListTags as |tag|}}
          {{discourse-tag tag}}
        {{/each}}
        </div>
      {{/if}}
    {{/unless}}

    {{plugin-outlet "topic-list-tags"}}

    {{#if context.socialMediaStyle}}
      {{raw "list/topic-actions" likeCountDisplay=context.likeCountDisplay topicActions=context.topicActions}}
    {{else}}
      {{#if context.mobilePreviews}}
        {{#if context.showActions}}
          {{raw "list/topic-actions" likeCountDisplay=context.likeCountDisplay topicActions=context.topicActions}}
        {{/if}}
      {{/if}}
      <div class='num activity last'>
        <span class="age activity" title="{{topic.bumpedAtTitle}}"><a href="{{topic.lastPostUrl}}">{{format-date topic.bumpedAt format="tiny" noTitle="true"}}</a></span>
      </div>
    {{/if}}
  </div>
</td>
