<td>
  {{#if tilesStyle}}
    <div class="topic-header-grid">
      {{raw "list/topic-list-title" topic=topic tilesStyle=tilesStyle mobileView=site.mobileView}}
      <div class="topic-category">
        {{#if showCategoryBadge}}
          {{category-link topic.category}}
        {{/if}}
      </div>
    </div>
    {{#if showThumbnail}}
      {{raw "list/topic-thumbnail" topic=topic thumbnails=thumbnails category=category opts=thumbnailOpts}}
    {{/if}}
  {{else}}
    {{#if showThumbnail}}
      {{raw "list/topic-thumbnail" topic=topic thumbnails=thumbnails category=category opts=thumbnailOpts}}
    {{else}}
      <div class='pull-left'>
        <a href="{{topic.lastPostUrl}}" data-user-card="{{topic.last_poster_username}}">{{avatar topic.lastPosterUser imageSize="large"}}</a>
      </div>
    {{/if}}
  {{/if}}

  <div class='topic-details'>
    {{#if notTilesStyle}}
      <div class='main-link'>
        {{raw "list/topic-list-title"
          topic=topic
          showTopicPostBadges=showTopicPostBadges
          homepage=parentView.homepage
          suggested=parentView.suggestedList
          mobileView=site.mobileView}}
      </div>
      <div class='pull-right'>
        {{raw "list/post-count-or-badges" topic=topic postBadgesEnabled=showTopicPostBadges}}
      </div>
    {{/if}}

    {{#if expandPinned}}
      {{raw "list/topic-excerpt" topic=topic}}
    {{/if}}

    {{#if notTilesStyle}}
      {{#if showCategoryBadge}}
        <div class='topic-category'>
          {{category-link topic.category}}
        </div>
      {{/if}}

      {{#if topic.tags}}
        <div class='discourse-tags'>
        {{#each topic.visibleListTags as |tag|}}
          {{discourse-tag tag}}
        {{/each}}
        </div>
      {{/if}}

      {{#if showActions}}
        {{raw "list/topic-actions" likeCount=likeCount topicActions=topicActions}}
      {{/if}}

      <div class='num activity last'>
        <span class="age activity" title="{{topic.bumpedAtTitle}}"><a href="{{topic.lastPostUrl}}">{{format-date topic.bumpedAt format="tiny" noTitle="true"}}</a></span>
      </div>
    {{/if}}
  </div>

  {{#if tilesStyle}}
    {{raw 'list/topic-meta' likesHeat=likesHeat title=view.title topic=topic}}
    {{#if showActions}}
      {{raw "list/topic-actions" likeCount=likeCount topicActions=topicActions}}
    {{/if}}
  {{/if}}
</td>
